@import "variables";
@import "fonts";
@import "modernizr";


// Components 

blockquote {
  font-style: italic;
  text-transform: capitalize;

  h1 {
    font-weight: 800;
    @include typeSize(base);
  }

}

cite {
  text-transform: capitalize;
}

cite:before {
  content: "\2014 \2009";
}

textarea, input, button { outline: none; }

.button {
  display: inline-block;
  margin-top: 10px; 
  border: none;

  cursor: pointer;

  @include typeSize(base);

  &:visited {
    color: $contrast-font-color;
  }
}

.main-button {
  @extend .button;

  color: $contrast-font-color;
  background-color: $accent-color;
}

.full-button {
  @extend .button;

  width: 100%;
  display: block;

  padding: 10px;
}

.half-button {
  @include span(3 of 6);
}

.big-button {
  @extend .button;

  @include typeSize(large);
}

.secondary-button {
  @extend .button;

  color: $white-color;
  background-color: $button-secondary-color;
}

.tertiary-button {
  @extend .button;

  color: $white-color;
  background-color: $button-tertiary-color;
}

.grid-container {
  @include container(12);
  @include clearfix;

  padding-top: 10px;
}

.footer {
  background-color: $teal-color;
  margin-top: 1px;
  
  > p {
    text-align: center;
    padding-bottom: 20px;
  }

  > p, a {
    color: $contrast-font-color;
  }
}

.header {
  display: block;
  height: 110px;
  background: $teal-color;

  .nav {
    @include horizontal-list;

    margin: 20px;
    float: right;

    a {
      padding: 10px; 
      margin: 12px;
      display: block;
      position: relative;

      background: $blue-color;
      color: #FFF;
      text-decoration: none;

      &:hover {
        background-color: $button-over-color;
      }
    }
  }

  .logo {
    background-position-y: -10px; 
    display: inline-block;
    position: relative;
    width: 350px;
  }
}

.logo {
  background: url("/images/logo.png") no-repeat;
  background-position: center;
  background-size: contain;
  height: 218px;
}

.motto {
  @include typeSize(small);

  position: absolute;
  bottom: 110px;
  left: 56px;
  width: 100%;

  color: $white-color;
}

.logo-line {
  width: 14%;
  height: 1px;
  position: relative;
  top: 70px;

  background: #F5F5F5;
  border: none;

  &.left {
    float: left;
  }

  &.right {
    float: right;
  }
}

.full-content {
  @include span(12 of 12);
}

.map {
  width: 100%;
  height: 400px;
}

// FORMS
.vertical-form {
  text-align: left;
  margin: 26px;
}

form .inline-field {
  display: inline-block;
  margin: 0 8px 0 0;
}

form .grid-field {
  margin: 0 auto;
  @include span(4 of 12);
}

form .rating {
  float: none;
}

fieldset {
  margin-bottom: 10px;
}

.split-field {
  @include span(6 of 12);
}

.full-field {
  @include span(12 of 12);
}

.split-field, .full-field {
  margin-bottom: 6px;
}

label.normal {
  font-weight: normal;
}

.map-title {
  @include typeSize(medium);
}