@import "compass/typography/vertical_rhythm";
@import 'modular-scale';

$ms-base: 1rem;
$ms-ratio: $golden;

$base-font-size: 16px;
$base-line-height: $base-font-size * $golden;
$rhythm-unit: "rem";
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-weight: 400;
$base-font-color: #303033;

@include establish-baseline;

@mixin typeSize($size) {
 @if $size == "tiny" {
  @include adjust-font-size-to(ms(-2));
 }
 @if $size == "small" {
  @include adjust-font-size-to(ms(-1));
 }
 @if $size == "base" {
  @include adjust-font-size-to(ms(0));
 }
 @if $size == "medium" {
  @include adjust-font-size-to(ms(1));
 }
 @if $size == "large" {
  @include adjust-font-size-to(ms(2));
 }
 @if $size == "xlarge" {
  @include adjust-font-size-to(ms(3));
 }
}

body{ 
  font-size: ms(0); 
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  color: $base-font-color;
}

h3{ @include typeSize(medium); }
h2{ @include typeSize(medium); }
h1{ @include typeSize(large); }
