@import "compass/typography";
@import "compass/css3/border-radius";
@import "compass/typography/vertical_rhythm";
@import "susy";
@import "variables";

.header {
  position: absolute;
  z-index: 1024;
}

.toolbar {
  background-color: black;
  color: $contrast-font-color;
  @include inline-block-list;

  > .toolbarItem {
    cursor: pointer;
    text-align: center;
    @include span(4 of 12);

    &.sorted {
      background-color: #BDBDBD;
      color: $base-font-color;
    }
  }
}

.shelter-list {
  @include clearfix;
}

.shelter-item {
  padding: rhythm(1);

  @include gallery(4 of 12);

  > img {
    height: 222px;
  }
}

.action-link {
  display: inline-block;
  margin: 10px 0;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: $button-color;

  &:hover {
    background-color: $button-over-color;
  }
}

.action-link.first,
.action-link.last {
  width: 50%;
}

.action-link.first {
  float: left;
}

.action-link.last {
  float: right;

  &:after {
    @include clearfix;
  }
}

.rating {
  display: block;
  float: none;
}

blockquote {
  margin: 10px 0;

  p:before {
    content: "\201C";
  }

  p:after {
    content: "\201D";
  }

  img {
    height: 60px;
  }

  cite {
    text-transform: uppercase;
    color: $blue-color;
    font-weight: bold;
  }
}

#shelter-list-map {
  width: 100%;
  height: 400px;
}

#bottom-photo {
  height: 542px;
  background: rgba(0, 0, 0, 0) url("/images/bottom-background.jpg") no-repeat left top;
  background-size: cover;
}