@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/css3/border-radius";
@import "compass/typography/vertical_rhythm";
@import "breakpoint";
@import "susy";
@import "variables";
@import "fonts";
@import "components";


.reviews {
  text-align: right;
  margin: 10px 0;
}

.rating {
  display: block;
  text-align: right;
  height: 35px;
  float: none;
}

.flag {
  color: red;
}

.flag:before {
  content: "\f024";
  font-family: FontAwesome;
  padding-right: 0.5em;
  text-decoration: none;
}

#shelter-map {
  width: 100%;
  height: 400px;
}

.full-button {
  width: 100%;
  height: 50px;
  display: block;
  margin: 10px;
  
  border: none;
  background-color: black;
  
  color: $contrast-font-color;
  
  @include typeSize(medium);

  > em {
    font-style: italic;
    @include typeSize(small);
  }
}