@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/css3/border-radius";
@import "compass/typography/vertical_rhythm";
@import "breakpoint";
@import "susy";
@import "variables";
@import "fonts";
@import "components";


.shelter-content {
  @include span(6 of 12);
}

.main-button {
  display: block;
  padding: 10px;
  margin: 0 auto;

  border: none;
  background: $accent-color;
  color: $contrast-font-color;

  cursor: pointer;
}

.features {
  margin-bottom: 10px;
  margin-top: 10px;
}

.feature-list {
  background-color: ghostwhite;
}

address {
  text-align: center;
}

.rating {
  display: block;
  text-align: right;
  float: none;
}

.full-button {
  width: 100%;
  height: 50px;
  display: block;
  margin: 10px;
  
  border: none;
  background-color: black;
  
  color: $contrast-font-color;
  
  @include typeSize(medium);

  > em {
    font-style: italic;
    @include typeSize(small);
  }
}

.testimonial-item {
  background: $teal-color;
  color: $contrast-font-color;
  margin-bottom: 10px;
}

.testimonial.thumbnail {
  float: left;
  width: 322px;
  max-height: 100%;

  @include box-sizing(border-box);
}

blockquote.testimonial {
  overflow: auto;
  padding: 20px;
  @include box-sizing(border-box);
}