@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/css3/border-radius";
@import "compass/typography/vertical_rhythm";
@import "breakpoint";
@import "susy";
@import "variables";
@import 'fonts';


.toolbar {
  background-color: black;
  color: $contrast-font-color;
  @include inline-block-list;

  > .toolbarItem {
    cursor: pointer;
    text-align: center;
    @include span(4 of 12);

    &.sorted {
      background-color: #BDBDBD;
      color: $base-font-color;
    }
  }
}

.shelter-item {
  padding: rhythm(1);
  margin: rhythm(1);
  border: 1px solid black;
  position: relative;

  @include border-radius(6px);

  > .action-link {
    display: block;
    text-align: center;
    border-top: 1px solid black;

    margin: 0 (rhythm(1) * -1);

    &:hover {
      color: $contrast-font-color;
      background-color: black;
    }

    &:last-child {
      margin-bottom: (rhythm(1) * -1);
    }
  }

  > h1 {
    @include span(11 of 12);
  }

  > .rating {
    text-align: right;
    @include span(1 of 12);
  }
}

.rating {
  position: relative;

  &:after {
    content: "of 10";
    @include typeSize(tiny);
  }
}
