
$contrast-font-color: whitesmoke;
$base-font-color: black;

$teal-color: #66C3BC;
$blue-color: #5BA2BB;
$orange-color: #F15A24;

$accent-color: $orange-color;
$button-color: $blue-color;
$button-over-color: #74B0C5;

@import "susy";

@include border-box-sizing;
@include layout(12 (60px 20px) split fluid border-box);
