
$contrast-font-color: whitesmoke;
$base-font-color: black;

$white-color: whitesmoke;
$teal-color: #66C3BC;
$blue-color: #5BA2BB;
$orange-color: #F15A24;
$green-color: #306B66;
$purple-color: #9A97B0;
$light-purple-color: #9995AE;

$accent-color: $orange-color;
$button-color: $blue-color;
$button-over-color: #74B0C5;
$button-secondary-color: $green-color;
$button-tertiary-color: $purple-color;

@import "susy";

@include border-box-sizing;
@include layout(12 (60px 20px) split fluid border-box);
